.contact__extDiv {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__sample1 {
  display: flex;
  align-items: center;
  color: #4A5043;
  justify-content: space-between;
  min-height: 100px;
  min-width: 294px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.contact__content {
  display: flex;
  margin-top: 53px;
  flex-direction: column;

  width: 90vw;
  padding: 20px 20px;
}
.conatct__box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: white !important;
  border-radius: 4px;
  border: 2px solid #4A5043;
  min-width: 270px;
  box-shadow: -5px 5px 9px -9px rgb(0, 0, 1);
  padding: 10px 10px;
}
.contact__sample2 {
  display: flex;
  border: 2px solid #4A5043;
  flex-direction: column;
  background-color: white !important;
  box-shadow: -5px 5px 9px -9px rgb(0, 0, 0.1);
  height: auto;
  min-width: 294px;
  padding: 20px;
}
.contact__userInputFields {
  display: flex;
  width: auto;
  height: fit-content;
  flex-wrap: wrap;
  color: #4A5043;
  margin-bottom: 20px;
  justify-content: space-between;
}
.contact__userInputFields > .contact__input1 > input[type="text" i] {
  border: none;
  color: #4A5043;

  background-color: transparent;
  border: 2px solid #4A5043;
  min-height: 55px;
  min-width: 250px;
  margin: 20px 0px;
  text-align: center;
}
.contact__userInputFields > .contact__input1 > input[type="email" i] {
  border: none;
  color: #4A5043;
  min-height: 55px;
  min-width: 250px;
  margin: 20px 0px;
  background-color: transparent;
  border: 2px solid #4A5043;

  text-align: center;
}
.contact__userInputFields > .contact__input1 > input[type="number" i] {
  border: none;
  color: #4A5043 !important;
  background-color: transparent !important;
  border: 2px solid #4A5043;
  min-height: 45px;
  text-align: center;
  min-height: 55px;
  min-width: 250px;
  margin: 20px 0px;
}
.contact__userInputFields > .contact__input1 > input:focus {
  outline: none;
  color: #4A5043;
}
.contact__textArea {
  width: 100%;
  height: 90%;
}
.contact__input2 > textarea {
  width: 100%;

  background: none;
  border: 2px solid #4A5043;
  padding: 20px;

  color: #4A5043;
  min-height: 200px;
  font-size: 20px;
}
.contact__input2 > textarea:focus {
  outline: none;
  color: #4A5043;
}
.contact__button {
  width: 100%;
  margin-top: 12px;
  min-height: 34px;
}
.contact__button > button {
  background-color: #FFCB47;
 border: none;
  width: 100%;
  border-radius: 5px;
  min-width: 150px;
  text-align: center;
  height: 40px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  transition: 2s all ease-in;
}
.contact__button > button:hover {
  box-shadow: -5px 5px 9px -9px rgb(0, 0, 1);
  background-color: #da8f1e;
}

@media screen and (max-width: 993px) {
  .contact__content {
    margin-top: 200px;
  }
}
@media screen and (max-width: 694px) {
  .contact__content {
    margin-top: 319px;
  }
}
@media screen and (max-width: 645px) {
  .contact__content {
    margin-top: 469px;
  }
  .contact__sample1 {
    align-items: center;
    justify-content: center;
  }
  .conatct__box {
    width: 100%;
  }
  .contact__input1,
  input {
    width: 100%;
  }
}
